<h1 mat-dialog-title>Inscription session airsoft n°{{ selectedSessionID }}</h1>
<mat-dialog-content>
    <form [formGroup]="participantForm" id="participantForm" (ngSubmit)="onSubmit($event)">
      <input type="text" id="nom" 
      formControlName="participantNom" placeholder="Nom" />
      <br>
      <input type="text" id="prenom"
      formControlName="participantPrenom" placeholder="Prenom" />
      <br>
      <input type="text" id="email" [class]=""
      formControlName="participantEmail" placeholder="Email" />
      <br>
      <div class="">{{ errorMessage }}</div>
      <button id="submit" type="submit">Valider</button>
      <button mat-dialog-close>Close</button>
    </form>
</mat-dialog-content>