.cardList{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.card{
    width: 200px;
    border-style:solid;
    border-radius: 10px;
}

.border-error {
    border-color: red !important;
  }

