/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; margin-top: 125px; font-family: Roboto, "Helvetica Neue", sans-serif; }


//Disable controls and footer to leave a clean map.
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gm-bundled-control .gmnoprint {
    display: block;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}

//Changement couleur du spinner. Fonctionne uniquement au niveau global, ne fonctionne pas au niveau du css des ocmposants. 
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #c70102!important;
}